// Category card styles
.category-card {
  width: 100%;
  .inner-card {
    border-radius: 16px;
    overflow: hidden !important;
    position: relative;
    .category-img {
      position: relative;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      img {
        display: block;
        transform: scale(1.1);
        transition: all 0.4s ease;
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }
    .category-content {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.4s ease;
      border-radius: 16px;
      .top-area {
        padding: 0 30px;
        position: absolute;
        top: 35px;
        .title {
          color: #fff;
          
        }
        .text {
          color: #fff;
          
        }
      }
    }
    &:hover {
      .category-content {
        background-color: rgba(34, 34, 34, 0.6);
      }
      .category-img img {
        transform: scale(1.15) rotate(-1deg);
      }
    }
  }
}

// Services card styles
.service-card {
  border-radius: 12px;
  background-color: var(--input-bg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &:hover {
    .img img {
      transform: scale(1.1) rotate(-1deg);
    }
  }
  .img {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 3 / 2;
      transition: var(--main-transation);
      object-fit: cover;
    }
    .services_status {
      position: absolute;
      top: 8px;
      right: 8px;
      background: var(--white-color);
      color: var(--main-color);
      padding: 2px 8px;
      border-radius: 8px;
    }
  }
  .content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    position: relative;
    h6 {
      
      line-height: 28px;
      color: var(--black-color);
      @media (max-width: 576px) {
        // font-size: 12px;
        line-height: 22px;
      }
    }
    p {
      
      margin-bottom: auto;
      color: var(--text-color);
      a {
        color: var(--text-color);
      }
      @media (max-width: 576px) {
        // font-size: 10px;
      }
    }
    .sell-count {
      // font-size: 18px;
      color: var(--black-color);
      font-weight: 600;
      @media (max-width: 576px) {
        
      }
    }
    .start-from {
      color: var(--black-color);
      b {
        color: var(--main-color);
      }
    }
  }
  .editService {
    position: absolute;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    a {
      @include clearInput();
      width: 32px;
      height: 32px;
      @include centerFlex();
      border-radius: 50%;
      background: var(--input-hint);
      color: var(--white-color);
      
      &:nth-child(2) {
        background: red;
      }
    }
  }
}

// Projects card styles
.project__card {
  background-color: var(--gray-background);
  padding: 12px;
  display: block;
  border-radius: 12px;
  position: relative;
  height: 100%;
  cursor: pointer;
  p {
    color: var(--text-color);
  }
  .requstPost,
  .lastInteraction {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: start;
    }
    a {
      color: var(--black-color);
      &:has(img) {
        overflow: hidden;
        border-radius: 50%;
        min-width: 64px !important;
        width: 64px !important;
        height: 64px !important;
        display: flex;
        position: relative;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .postContent {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    .postUser {
      display: flex;
      align-items: center;
      gap: 12px;
      row-gap: 2px;
      flex-wrap: wrap;
      .time,
      .name {
        color: var(--black-color);
        display: flex;
        align-items: center;
        gap: 4px;
        // font-size: 12px;
        white-space: nowrap;
        i {
          // font-size: 12px;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .postTitle {
      font-weight: bold;
    }
  }
  .lastInteraction {
    @media (max-width: 768px) {
      img {
        width: 32px !important;
      }
      .lastUser {
        flex-direction: row;
        gap: 12px;
        align-items: center;
      }
    }
  }
  .requstPost {
    justify-content: space-between;
    width: 100%;
    .status_action {
      display: flex;
      align-items: center;
      gap: 8px;
      @media (max-width: 768px) {
        width: 100%;
        justify-content: flex-end;
      }
      .status {
        background: var(--white-color);
        color: var(--main-color);
        padding: 0 16px;
        @include centerFlex();
        border-radius: 8px;
        height: 36px;
      }
      button,
      a {
        @include clearInput();
        @include centerFlex();
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: var(--white-color);
        i {
          height: 16px;
          color: red;
        }
      }
      a {
        i {
          color: var(--main-color);
        }
      }
    }
  }
}

// Blog Cards

.blog-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 12px;
  overflow: hidden;
  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .date {
    color: var(--main-color);
    display: flex;
    gap: 8px;
    align-items: center;
    transition: var(--transition);
    margin-top: auto;
    i {
      
      transition: var(--transition);
    }
  }
  .title {
    color: var(--black-color);
    transition: var(--transition);
    font-weight: bold;
  }
  .description {
    // font-size: 12px;
    line-height: 24px;
    color: var(--text-color);
  }
}

// freelancer Card

.freelancerCard {
  background: var(--input-bg);
  border-radius: 12px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .info {
    display: flex;
    align-items: center;
    gap: 12px;
    .img {
      width: 62px;
      height: 62px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      .status {
        display: block;
        position: absolute;
        bottom: -8px;
        left: 4px;
        width: 28px;
        border-radius: 50%;
        height: 28px;
        @include centerFlex();
        background-color: var(--white-color);
        svg {
          color: #26ba35;
          width: 20px;
          height: 20px;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      h6 {
        color: var(--main-color);
        font-weight: 600;
        // font-size: 18px;
      }
      ul {
        li {
          
          color: var(--input-hint);
        }
      }
    }
  }
  p {
    
    color: var(--text-color);
  }
}
// portfolio card
.portfolio-card {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--input-bg);
  border-radius: 12px;
  overflow: hidden;
  .img {
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 3 / 2;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .user {
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 12px;
      left: 12px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid var(--white-color);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .info {
    padding: 0 1rem 1rem;
    h6 {
      color: var(--black-color);
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      li {
        color: var(--black-color);
        i {
          color: var(--input-hint);
        }
        &:nth-child(2) {
          i {
            color: red;
          }
        }
      }
    }
  }
}

// rate card
.rate-card {
  background-color: var(--input-bg);
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 12px;
  .rate-owner {
    display: flex;
    flex-direction: column;
    .rate-head {
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 16px;
      .img {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }
      .name-time {
        @include centerFlex();
        flex-direction: column;
        h5 {
          // font-size: 20px;
          color: var(--black-color);
          font-weight: bold;
          margin-bottom: 4px;
        }
        span {
          
          color: var(--text-color);
          font-weight: 500;
        }
      }
    }
    .rate-text {
      
      color: var(--black-color);
      font-weight: 500;
      @media (max-width: 576px) {
        
      }
    }
  }
  .rating-cards {
    .r-card {
      padding: 16px 12px;
      border-radius: 16px;
      @include centerFlex();
      flex-direction: column;
      gap: 12px;
      background: var(--white-color);
      h6 {
        color: var(--black-color);
        
      }
    }
  }
}

// work card
.workCard {
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 2px 1px #ececec;
  h4 {
    text-align: center;
  }
}

// bids Card
.bid-card {
  padding: 18px;
  border-radius: 12px;
  background-color: var(--input-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  > p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h4 {
    color: var(--main-color);
    // font-size: 24px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    li {
      color: var(--text-color);
      display: flex;
      align-items: center;
      // font-size: 12px;
      span {
        line-height: 14px;
      }
      svg {
        height: 16px;
      }
    }
  }
  .bid-status {
    background: var(--main-color);
    padding: 4px 12px;
    border-radius: 8px;
    color: var(--white-color);
  }
  .bid-status {
    background: var(--main-color);
    padding: 4px 12px;
    border-radius: 8px;
    color: var(--white-color);
  }
  p {
    margin-bottom: 0;
    line-height: 24px;
    color: var(--text-color);
    
  }
}

// Bank Account Card

.bank-acc-card {
  background-color: var(--gray-background);
  border: 2px solid var(--gray-background);
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  gap: 24px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
  .image-wrapper {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      // font-size: 36px;
    }
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    flex: 1 0;
    h5 {
      margin: 0;
    }
    .info-boxes-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 24px;
      .info-box {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;
        
        margin: 0;
        color: var(--text-color);
        i {
          // font-size: 12px;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--text-color);
        }
      }
    }
  }
  .icons {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 8px;
    button {
      @include clearInput();
      background: var(--input-hint);
      border-radius: 50%;
      color: var(--white-color);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      height: 36px;
      width: 36px;
      svg {
        height: 16px;
        width: 16px;
      }
      &:nth-child(2) {
        background: red;
      }
    }
  }
}

// Bank transfer Card
.bank-transfer-box {
  width: 100%;
  input {
    display: none;
    &:checked + label {
      border-color: var(--main-color);
    }
  }
  label {
    background-color: var(--gray-background);
    border: 2px solid var(--gray-background);
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
  }
  .image-wrapper {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      // font-size: 24px;
    }
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    h5 {
      margin: 0;
    }
    .info-boxes-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 24px;
      .info-box {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;
        
        margin: 0;
        color: var(--text-color);
        i {
          // font-size: 12px;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--text-color);
        }
      }
    }
  }
}

// card collection
.collectionCard {
  padding: 16px 24px;
  border-radius: 12px;
  background: var(--input-bg);
  @include space-between();
  .info {
    h6 {
      // font-size: 22px;
      margin-bottom: 0;
      a {
        color: var(--black-color);
      }
    }
    ul {
      display: flex;
      gap: 12px;
      li {
        // font-size: 12px;
        color: var(--input-hint);
      }
    }
  }
  .actions {
    display: flex;
    gap: 12px;
    button {
      @include clearInput();
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--input-hint);
      color: var(--input-hint);
      svg {
        height: 16px;
      }
      &:nth-child(2) {
        border-color: red;
        svg {
          stroke: red;
        }
      }
      &.btn {
        width: auto;
        height: auto;
        border: 0;
        padding: 6px 12px;
        background: var(--main-color);
        
        border-radius: 8px;
        color: var(--white-color);
      }
    }
  }
}

// enterprise card

.enterprise--card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  background: var(--white-color);
  img {
    height: 84px;
    aspect-ratio: 1/1;
  }
  .enterprise--card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex: 1;
    h3 {
      font-size: 1rem;
      color: var(--main-color);
    }
    .info--stats {
      display: flex;
      align-items: center;
      gap: 12px;
      li {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 0.8rem;
        color: var(--text-color);
        i {
          font-size: 0.8rem;
          color: var(--text-color);
        }
      }
    }
    p {
      font-size: 1rem;
      color: var(--black-color);
    }
  }
}
