// !---------------------------------  Landing page -------------------------------------!

// Hero Section

.hero-enterprise {
  background: url("/images/enterprise/header-bg-3.jpg") no-repeat 50%;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 150px 0;
  position: relative;
  .main-container {
    .hero-position {
      .title {
        // font-size: 2.25rem;
        margin-bottom: 20px;
      }
      .desc {
        // font-size: 1.125rem;
        margin-bottom: 20px;
      }
      .create-link {
        padding: 13px 22px;
        background-color: var(--main-color);
        // font-size: 1rem;
      }
    }
    .read-more {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      h4 {
        color: var(--white-color);
        // font-size: 12px;
      }
    }
  }
}

// Benfits Section
.benfits-enterprise {
  background-color: var(--sec-bgColor);
  h2 {
    // font-size: 1.5rem;
    margin-bottom: 24px;
    font-weight: 500;
  }
}

// About Section
.about-enterprise {
  background-color: var(--white-color);
  p {
    
    line-height: 32px;
    margin-bottom: 10px;
    color: var(--text-color);
  }
}

//Steps Section

.steps-enterprise {
  background-color: var(--sec-bgColor);
}
//features Section
.features-enterprise {
  .features-block {
    padding: 30px 0;
    .row:nth-child(even) {
      flex-direction: row-reverse;
      .info {
        padding-right: 30px;
        @media (max-width: 992px) {
          padding-right: 0;
        }
      }
    }
    .info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin-bottom: 22px;
        // font-size: 24px;
      }
      p {
        // font-size: 18px;
        color: var(--text-color);
      }
      .feature-link {
        background-color: var(--white-color);
        border: 1px solid var(--main-color);
        color: var(--main-color);
        padding: 6px 12px;
        
        width: fit-content;
        transition: var(--main-transation);
        &:hover {
          color: var(--white-color);
          background-color: var(--main-color);
        }
      }
    }
  }
}

// FAQ section
.faq-enterprsie {
  background-color: var(--sec-bgColor);
  .accordion {
    .accordion-item {
      border: none;
      background-color: transparent;
      padding: 20px 0;
      border-radius: 0;
      border-bottom: 1px solid var(--input-hint);
      .accordion-header {
        background-color: transparent;
        .accordion-button {
          background-color: transparent;
          border-radius: 0;
          // font-size: 18px;
          color: var(--main-color);
          outline: none;
          box-shadow: none;
          &::after {
            margin-right: auto;
            margin-left: 0;
          }
        }
        &.en {
          button::after {
            margin-left: auto !important;
            margin-right: 0;
          }
        }
      }
      .accordion-body {
        
        font-weight: 400;
        color: var(--text-color);
      }
    }
  }
}

// footerEnterprise section
.footer-enterprise {
  padding: 65px 0;
  background-color: var(--main-color);
  color: var(--white-color);
  .text-data {
    @include centerFlex();
    flex-direction: column;
    gap: 1rem;
    h3 {
      // font-size: 24px;
      margin-bottom: 8px;
    }
    .main-link {
      border: 1px solid var(--white-color);
      padding: 8px 18px;
      color: var(--main-color);
      background-color: var(--white-color);
      transition: var(--main-transation);
      &:hover {
        background-color: var(--main-color);
        color: var(--white-color);
      }
    }
  }
}

// !---------------------------------  Create Page -------------------------------------!

.create-enterprise {
  padding: 20px 0 60px;
  background-color: var(--sec-bgColor);

  .enterprise-info {
    line-height: 1.8;
    color: var(--balck-color);

    .section {
      margin-bottom: 1rem;

      h2 {
        // font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 0.75rem;
      }

      ul {
        padding-right: 1.5rem;

        li {
          margin-bottom: 0.5rem;
          list-style: none;
          position: relative;
        }
      }
    }
  }
}

// !---------------------------------  Enterprise details Page -------------------------------------!

.enterprise-layout {
  padding: 20px 0 60px;
  background-color: var(--sec-bgColor);
  .right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .profile-card {
      padding: 20px;
      border-radius: var(--card-border-radius);
      @include centerFlex();
      flex-direction: column;
      gap: 12px;
      
      background-color: var(--white-color);
      img {
        height: 84px;
        width: 84px;
      }
      .enterprise__edit--image {
        flex-direction: column;
        cursor: pointer;

        input[type="file"] {
          display: none;
        }
        .image__wrapper {
          position: relative;
          &:hover .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            opacity: 1;
          }
          .overlay {
            position: absolute;
            transition: var(--main-transation);
            @include centerFlex();
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    .settings {
      background-color: var(--white-color);
      padding: 20px 0 0;
      border-radius: var(--card-border-radius);
      h3 {
        
        border-bottom: 1px solid var(--LightGray);
        padding: 0 12px 12px;
        margin: 0;
      }
      .orgs-links {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
        .org-link {
          border-bottom: 1px solid var(--LightGray);
          padding: 0 12px 12px;
          &:last-child {
            border: none;
          }
          a {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 12px;
            color: var(--text-color);
            text-decoration: none;
            transition: all 0.3s ease;
            border-radius: 8px;
            
            font-weight: 400;

            &:hover {
              background-color: var(--LightGray);
              color: var(--black-color);
              transform: translateX(5px);
            }

            &.active {
              background-color: var(--main-color-light);
              color: var(--main-color);
              i {
                color: var(--main-color);
              }
            }

            i {
              // font-size: 18px;
              color: var(--text-color);
              transition: color 0.3s ease;
            }

            span {
              
            }
          }
        }
      }
    }
  }
}
// !---------------------- dashboard ---------------------------!
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .projects {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--card-border-radius);

    .project-status {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .status__progress-label {
        margin-bottom: 4px;
        span {
          // font-size: 12px;
          color: var(--text-color);
        }
      }

      .status-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        span {
          width: 80px;
          text-align: start;
        }

        .progress-bar {
          flex-grow: 1;
          height: 6px;
          background: #eee;
          border-radius: 3px;
          overflow: hidden;

          .filled {
            height: 100%;
            background: #007bff;
            transition: width 0.3s ease-in-out;
          }
        }
      }
    }

    .project-summary {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5 rem;
      background: #f3f3f3;
      padding: 1rem;
      border-radius: 8px;
      text-align: center;

      h3 {
        margin-bottom: 0.5rem;
      }

      .count {
        // font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  .members-messages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .box {
      flex: 1;
      background: var(--white-color);
      padding: 1.25rem;
      border-radius: var(--card-border-radius);
      text-align: center;

      h4 {
        // font-size: 18px;
        font-weight: 400;
        margin: 0.5rem;
        color: var(--text-color);
      }

      p {
        // font-size: 2.25rem;
        margin: 0;
        font-weight: bold;
      }
    }
  }
  .balance-expenses {
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    padding: 1.25rem 0;
    .balance {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .box {
        flex: 1;
        @include centerFlex();
        flex-direction: column;
        gap: 12px;
        border-bottom: 1px solid var(--LightGray);
        padding-bottom: 1rem;
        @media (max-width: 576px) {
          h4 {
            // font-size: 16px !important;
          }
          p {
            // font-size: 24px !important;
          }
        }
        h4 {
          margin: 0;
          // font-size: 18px;
          color: var(--text-color);
        }
        p {
          margin: 0;
          // font-size: 36px;
        }
      }
    }
    .expenses {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0 0;
      .monthly {
        flex: 1;
        @include centerFlex();
        gap: 8px;
        @media (max-width: 576px) {
          width: 100%;
          justify-content: space-between;
        }
      }
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}
// !_______________________ Teams  _____________________________!
.enterprise-team {
  background-color: var(--white-color);
  border-radius: var(--card-border-radius);
  padding: 20px;
  .enterprise-team__card {
    padding: 20px 0;
    border-bottom: 1px solid var(--LightGray);
    &:last-child {
      border-bottom: none;
    }
    .enterprise-team__header {
      display: flex;
      align-items: end;
      justify-content: space-between;
      margin-bottom: 1rem;
      .enterprise-team__title {
        // font-size: 1rem;
        font-weight: 500;
        color: var(--main-color);
        margin-bottom: 10px;
      }
      .enterprise-team__info {
        display: flex;
        align-items: center;
        gap: 10px;
        // font-size: 12px;
        .enterprise-team__info-item {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    .enterprise-team__role-description {
      
      color: var(--text-color);
    }
    .button__group {
      display: flex;
      background-color: var(--main-color);
      border: none;
    }
    .dropdown {
      height: auto;
      .dropdown-toggle-split {
        background-color: transparent;
        border-radius: 0;
        border-right: 1px solid var(--white-color);
        height: 100%;
        &::before {
          content: "\f0d7";
          font-family: "Font Awesome 6 Pro";
          font-weight: 900;
          display: inline-block;
        }
      }
      .dropdown-menu {
        .dropdown-item {
          display: flex;
          align-items: center;
          gap: 10px;
          
          &:hover {
            color: var(--main-color);
          }
        }
      }
    }
    .enterprise-team__user-list {
      display: flex;
      align-items: center;
      gap: 12px;
      .enterprise-team__image {
        width: 36px;
        height: 36px;
        @include centerFlex();
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
// !_______________________ Funding  _____________________________!
.funding {
  background-color: var(--white-color);
  border-radius: var(--card-border-radius);
  padding: 20px 0;
  .funding__title {
    // font-size: 1rem;
    color: var(--main-color);
    padding: 0 20px 20px;
    border-bottom: 1px solid var(--LightGray);
  }
  .funders__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
}
.funder {
  display: flex;
  align-items: center;
  gap: 12px;
  
  padding: 0 20px;
  &.modal-active {
    background: var(--LightGray);
    padding: 10px;
    border-radius: var(--card-border-radius);
  }
  .funder__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: green;
      border: 2px solid var(--white-color);
      border-radius: 50%;
    }
  }
  .funder__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    .funders__info--name {
      margin: 0;
      
      color: var(--black-color);
    }
    .funders__info--job {
      display: flex;
      align-items: center;
      gap: 7px;
      // font-size: 12px;
      color: var(--text-color);
      span {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

.change__funder__modal--body {
  .hint {
    // font-size: 15px;
    color: var(--text-color);
  }
}
// !_______________________ Orgs  _____________________________!
.orgs {
  height: 100%;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 48px;
    .create-enterprise {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 12px 20px;
      border-radius: 8px;
      background-color: var(--main-color);
      color: var(--white-color);
      transition: var(--main-transation);
      &:hover {
        background-color: var(--main-hover-color);
      }
    }
  }
}

// utilis

.main-btn {
  outline: none;
  border: none;
  background-color: none;
}

.main-link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.section-padding {
  padding: 100px 0;
}

.p-90 {
  padding-bottom: 90px;
  @media (max-width: 992px) {
    padding-bottom: 40px;
  }
}

// components
.list-enterprise {
  li {
    // font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    &::before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: "Font Awesome 6 Pro";
      content: "\f00c";
      color: white;
      width: 20px;
      height: 20px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: var(--main-color);
    }
  }
}

.section-title {
  text-align: center;
  h2 {
    // font-size: 28px;
    margin-bottom: 24px;
    color: var(--main-color);
    line-height: 44px;
    font-weight: 500;
  }
  p {
    
    color: var(--text-color);
  }
}

.step-card {
  padding: 24px;
  background-color: var(--white-color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  .step-card-content {
    display: flex;
    align-items: center;
    gap: 12px;
    h3 {
      // font-size: 24px;
      margin: 0;
    }
    img {
      width: 60px;
    }
  }
  p {
    // font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  .number {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--main-color);
  }
}

//page header

.page-header {
  padding-top: 1.5rem;
  border-radius: 8px;

  .breadcrumb {
    
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }

  .page-title {
    // font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    color: var(--balck-color);
    text-transform: capitalize;
  }
}

.add-button {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--main-hover-color);
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .text {
    white-space: nowrap;
    line-height: 1;
  }
}

// Create & Edit enterprise form
.create-enterprise-form {
  .create-enterprise-form-wrapper {
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: var(--card-border-radius);
    .hint {
      // font-size: 10px;
      color: var(--input-hint);
    }
    .desc-field {
      width: 100%;
      border: 1px solid #dee2e6;
      height: 140px;
      padding: 6px 12px;
      border-radius: 0.375rem;
      &:focus-visible {
        outline: none !important;
      }
    }
  }
  .buttons__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;

    .create-button,
    .delete__button--enterprise {
      padding: 12px 24px;
      transition: background-color 200ms ease-in-out;
      border-radius: var(--card-border-radius);
      color: var(--white-color);
    }
  }
  .create-button {
    background-color: var(--main-color);

    &:hover {
      background-color: var(--main-hover-color);
    }
  }
  .delete__button--enterprise {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #c62828;
  }
}
